@{
    ViewBag.Title = "TELL TO ASK";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>
            We provide opportunity to our users to get 
            opinion about their issues. In our modern 
            times where everything is uniform,<strong>this is personal</strong>. 
        </p>
        <p>
            The user should earn 20 points to ask a question.
        </p>
        <p>
            Every answer gives 10 points. User earns 5 points bonus if the answer is useful or
             loses 5 points if the answer is useless.
        </p>
    </div>
</div>