@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        <abbr title="Email">e-mail:</abbr>
        <a href="mailto:telltoask@example.com">telltoask@example.com</a><br />
        <abbr title="Phone">P:</abbr>
        088X XX XX XX
    </address>

   <h2>Do not hesitate to contact us!</h2>
</div>