@model IEnumerable<TellToAsk.Areas.Administration.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
@(Html.Kendo().Grid<TellToAsk.Areas.Administration.Models.UserModel>()
    .Name("users")
    .Columns(column =>
        {
            // column.Bound(p => p.UserId);
            column.Bound(p => p.Username).ClientTemplate(
                "#: Username.length > 20 ? (Username.substring(0, 20).concat('...')) : Username #").Width(180);
            column.Template(p => p.BirthDate)
                .ClientTemplate("#= BirthDate.toDateString() #").Title("Birth Date");
            column.Bound(p => p.Gender);
            column.Bound(p => p.Points);
            column.Template(p => p.Roles).ClientTemplate(
             "#= Roles.join(', ') #").Title("Roles");
            column.Template(p => @Html.Action("Edit", "Users", new { id = p.UserId }))
                .ClientTemplate("<a class='btn btn-primary' href='/Administration/Users/Edit?id=#= UserId #'>Edit</a> | " +
                "<a class='btn btn-primary' href='/Administration/Users/Details?id=#= UserId #'>Details</a>").Title("Action");
        })
     .Pageable()
     .Sortable()
     .Selectable()
     .DataSource(data => data
         .Ajax()
         .ServerOperation(true)
         .PageSize(5)
         .Events(events => events.Error("error_handler"))
         .Model(model =>
         {
             model.Id(p => p.UserId);

         })
             .Read(read => read.Action("Read", "Users")))
)

<script>
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>
@section Scripts{
    @Scripts.Render("~/bundles/kendo")
}


