@model IEnumerable<TellToAsk.Areas.Administration.Models.AnswerModel>

@{
    ViewBag.Title = "Answers";
}

<h2>Answers</h2>

@(Html.Kendo().Grid<TellToAsk.Areas.Administration.Models.AnswerModel>()
    .Name("answers")
    .Columns(column =>
        {
            // column.Bound(p => p.Id);
            column.Bound(p => p.Text).ClientTemplate(
                "#: Text.length > 100 ? (Text.substring(0, 100).concat('...')) : Text #");
            column.Bound(p => p.Question).ClientTemplate(
                "#: Question.length > 20 ? (Question.substring(0, 20).concat('...')) : Question #").Width(180);
            column.Bound(p => p.Creator).ClientTemplate(
                "#: Creator.length > 20 ? (Creator.substring(0, 20).concat('...')) : Creator #").Width(180).Title("Answered User");
            column.Bound(p => p.Reported);
            column.Template(p => @Html.Action("Edit", "Answers", new { id = p.Id }))
                .ClientTemplate("<a class='btn btn-primary' href='/Administration/Answers/Edit?id=#= Id #'>Edit</a> | " +
                "<a class='btn btn-primary' href='/Administration/Answers/Delete?id=#= Id #'>Delete</a>").Title("Action").Width(160);
        })
     .Pageable()
     .Sortable()
     .Selectable()
     .DataSource(data => data
         .Ajax()
         .ServerOperation(true)
         .PageSize(5)
         .Events(events => events.Error("error_handler"))
         .Model(model =>
         {
             model.Id(p => p.Id);

         })
             .Read(read => read.Action("Read", "Answers")))
)
<div>
    <br />
    @Html.ActionLink("Create New", "TakeQuestion", "LoggedUser", new { area = "LoggedUser" }, new { @class = "btn btn-primary" })
</div>

<script>
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>
@section Scripts{
    @Scripts.Render("~/bundles/kendo")
}
